<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Update User</title>
<link rel="stylesheet" href="/css/style-dashboard.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    
<body>
    <div class="wrapper">

        <div class="mynavbar" >
          <header>
            <span></span>
            Admin
            <a></a>
          </header>
          <ul>
            <li><span>Navigation</span></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a class="active" href="/user">User</a></li>
            <li><a href="/history">Battle History</a></li>
            <li><span>Other</span></li>
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      
        <main>
      
          <h1>Challenge Chapter 6 - Binar Academy</h1>
      
          <div class="flex-grid">
            <div>
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-8"><h2>Update <b>Player</b></h2></div>
                  </div>
            </div>
            <form class="form-horizontal" action="/user/update/<%= user.id %>" method="post">
                <div class="form-group">
                  <label class="control-label col-sm-2">Username :</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="username" value="<%= user.username %>">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Password:</label>
                  <div class="col-sm-12">          
                    <input type="password" class="form-control" name="password" value="<%= user.password %>">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Cash :</label>
                    <div class="col-sm-12">
                      <input type="number" class="form-control" name="cash" value="<%= user.cash %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Level :</label>
                    <div class="col-sm-12">
                      <select type="text" class="form-control" name="level" >
                        <option value="Beginner" <% if(user.level==='Beginner' ){ %> selected <% } %> >Beginner</option>
                        <option value="Intermediate" <% if(user.level==='Intermediate' ){ %> selected <% } %> >Intermediate</option>
                        <option value="Pro" <% if(user.level==='Pro' ){ %> selected <% } %> >Pro</option>
                        <option value="Expert" <% if(user.level==='Expert' ){ %> selected <% } %> >Expert</option>
                        </select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label col-sm-2">Nama Lengkap :</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="namaLengkap" value="<%= biodata.namaLengkap %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2">Email :</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="email" value="<%= biodata.email %>"> 
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2">Alamat :</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="alamat" value="<%= biodata.alamat %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2">Nomor Telepon:</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="noTelpon" value="<%= biodata.noTelpon %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2">URL Foto :</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="urlFoto" value="<%= biodata.urlFoto %>">
                    </div>
                  </div>
                  

                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">Submit</button>
                  </div>
                </div>
              </form>
        </div>
      
        </main>
      
      </div>
      <script src="js/dashboard.js"></script>

    </body>
</html>