<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar"); %>
    <div class="container m-4">
      <!-- Kita lakukan loop untuk menjalankan include untuk component article -->
      <% articles.forEach(i => { if (i.approved) { %>
      <div class="container mb-2">
        <h1>
          <%= i.title %> <span class="badge badge-primary"><%= i.id %></span>
        </h1>
        <p><%= i.body %></p>
        <p class="text-primary"><%= i.publisher.name %></p>
      </div>
      <% } }) %> <% publishers.forEach(i => { %>
      <div class="container mb-2">
        <h1>
          <%= i.name %> <span class="badge badge-primary"><%= i.id %></span>
        </h1>
      </div>
      <% }) %>
    </div>
  </body>
</html>
